{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sarbacane plugin for Craft CMS 3.x
 *
 * Sarbacane Settings.twig
 *
 * @author    Sprinute
 * @copyright Copyright (c) 2020 Sprinute
 * @link      crochetcedric@gmail.com
 * @package   Sarbacane
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Sarbacane Api Key',
    instructions: 'Insert your Sarbacane Api Key here'|t,
    id: 'apiKey',
    name: 'apiKey',
    value: settings.apiKey,
    required: true,
    errors: settings.getErrors('apiKey')
}) }}

{{  forms.textField({
    label: 'Sarbacane Compte ID',
    instructions: 'Insert your Sarbacane compte Id here',
    id: 'compteId',
    name: 'compteId',
    value: settings.compteId,
    required: true,
    errors: settings.getErrors('compteId')
}) }}
<hr/>
{% if settings.apiKey and settings.compteId %}
    {{  forms.selectField({
        label: 'Sarbacane list contact to sync',
        instructions: 'Select your Sarbacane list contact',
        id: 'listId',
        name: 'listId',
        options: listeSarbacane,
        value: settings.listId,
        required: true,
        errors: settings.getErrors('listId')
    }) }}

    {{ forms.selectField({
        label: "Section to sync",
        instructions: "Choose the section in craft to sync with sarbacane. This section must have two fields : email and contactId",
        id: "section",
        name: "section",
        options: allSections,
        value: settings.section,
        errors: settings.getErrors('section')
    }) }}
    <hr/>
    {% if settings.listId and settings.section and champsSection|length > 0 and champsSarbacane|length > 0 %}
        <p>{{ 'Fields to sync'|t }}</p>
        {{ forms.editableTableField({
            id: 'fieldsToSync',
            name: 'fieldsToSync',
            label: 'List of fields to sync',
            rows: settings.fieldsToSync,
            cols: {
                entryField: {
                    heading: 'Fields of section'|t,
                    type: 'select',
                    options: champsSection
                },
                sarbacaneField: {
                    heading: 'Fields of Sarbacane'|t,
                    type: 'select',
                    options: champsSarbacane
                }
            }
        }) }}
    {% else %}
        <p>Chose craft section and Sarbacane list you want sync, save this and after come chose fields to sync</p>
    {% endif %}
{% else %}
    <p>Enter Sarbacane api key and compte id save this and after come chose Sarbacane list and Craft section to sync</p>
{% endif %}